.title-head{
    text-decoration: none;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 110px;
    font-size: 25px;
    margin-top: 40px;
    font-family: cursive;
}

img.pizza{
    margin-top: 70px;
    margin-left: 110px;
    border-radius: 90%;
    
}